.cardBack {
    background-color: black;
}

.textCard {
    color: white
}

.cardStyle {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD37ZNDiegEpbzld4X88pikp93elmQlUG8hQ&usqp=CAU');
}

.cardGroupStyle {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvLj9cpzEfpgsMfOq490_j6340CUuZB8NgBuN3z9Vei9uOw75ejz-hOSjMk7ObYPBS5v8&usqp=CAU');
}

.mainTitle {
    color: yellow;
    font-weight: bold;  
}

.cardSize {width: 14rem;
    margin-bottom: 0px
}
